/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

Box related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  width: <length>
    ^ default value auto - for block level it is 100%, for inline it is content width
    ^ This property doesn't gets inherited
    ^ This property can be applied to 
                all block level elements
                all floated elements
                all positioned elements
    ^ You can animate

~  min-width: <length>
    ^ default value auto - for block level it is 100%, for inline it is content width
    ^ This property doesn't gets inherited
    ^ This property can be applied to 
                all block level elements
                all floated elements
                all positioned elements
    ^ You can animate

~  max-width: <length>
    ^ default value auto - for block level it is 100%, for inline it is content width
    ^ This property doesn't gets inherited
    ^ This property can be applied to 
                all block level elements
                all floated elements
                all positioned elements
    ^ You can animate

~  height: <length>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to 
                all block level elements
                all floated elements
                all positioned elements
    ^ You can animate

~  min-height: <length>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to 
                all block level elements
                all floated elements
                all positioned elements
    ^ You can animate

~  max-height: <length>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to 
                all block level elements
                all floated elements
                all positioned elements
    ^ You can animate

~  overflow: visible | hidden | scroll | auto
    ^ default value visible
    ^ This property doesn't gets inherited
    ^ This property can be to all elements
    ^ You can animate

~  overflow-x: visible | hidden | scroll | auto
~  overflow-y: visible | hidden | scroll | auto

~  padding-top: 
~  padding-right: 
~  padding-bottom: 
~  padding-left: 

~  padding: 
    ^ default value is
            for ol and ul padding-left 40px
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements, except
            padding-top and padding-bottom, they won't
            work on inline elements
    ^ You can animate



~  margin-top: 
~  margin-right: 
~  margin-bottom: 
~  margin-left: 

~  margin: 
    ^ default value 
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements, except
            margin-top and margin-bottom, they won't
            work on inline elements
    ^ You can animate

~  box-sizing: content-box | padding-box | border-box
    ^ default value content-box
    ^ This property doesn't gets inherited
    ^ This property can be to all elements
    ^ You can't animate


~  float : none | left | right
    ^ default value none
    ^ This property doesn't gets inherited
    ^ This property can be to all elements
    ^ You can animate


~  clear: none | left | right | both
    ^ default value none
    ^ This property doesn't gets inherited
    ^ This property can be to all elements
    ^ You can't animate









cursor:
https://developer.mozilla.org/en-US/docs/Web/CSS/cursor



opacity 
resize - none | both | horizontal | vertical | block | inline
Flexbox
column-count
column-gap
column-fill – auto | balance
column-rule - <'column-rule-width'> || <'column-rule-style'> || <'column-rule-color'>

grids


auto;
inherit;

Box related important links
+++++++++++++++++++++++++++++++++++++++++++



*/

/* ==========================================================================
   Demo of Box related properties
   ========================================================================== */

.box{
    border: dotted 1px red;
    padding: 20px;
    margin-bottom: 20px;
}
.box h3{
    background-color: turquoise;
    line-height: 30px;
    padding: 0 10px;
    margin: 0;
}

.wd-demo{
    width: 300px;
    border: 1px solid #000;
}
.min-wd-demo{
    min-width: 300px;
    border: 1px solid #000;
    /* display: inline-block; */
    /* float: left; */
}

.max-wd-demo{
    border: 1px solid #000;
    max-width: 500px;
    width: 600px;
}
.height-demo{
    border: 1px solid #000;
    height: 50px;
    width: 400px;
}
.min-height-demo{
    border: 1px solid #000;
    min-height: 50px;
    width: 400px;
}
.max-height-demo{
    border: 1px solid #000;
    min-height: 50px;
    max-height: 70px;
    width: 400px;
}
.overflow-demo{
    border: 1px solid #000;
    width: 400px;
    height: 200px;
    overflow: auto;
}

.box-sizing-demo{
    width: 300px;
    height: 100px;
    padding: 25px;
    border: solid 10px #000;
}
.box-sizing-demo1{
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    padding: 25px;
    border: solid 10px #000;
}

.float-demo{
    background-color: green;
}
.float-left{
    border: 1px solid #000;
    float: left;
    min-width: 180px;
    height: 100px;
}

.clear-left{
    clear: both;
}
.cleared-text{
    border: solid 2px red;
    clear: both;
}

.fl-container{
    border: solid 4px red;
    margin: 10px;
    background-color: goldenrod;
}
.fl-container:after{
    content: "";
    display: block;
    clear: both;
}

.cf:after{
    content: "";
    display: block;
    clear: both;
}


.fl-container div{
    border: solid 2px green;
}

.left-floated{ float: left;}
.right-floated{ float: right;}





/* Cards layout */
.cards{
    background-color: indigo;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.cards *{
    box-sizing: border-box;
}
.gallery:after{
    content: "";
    display: block;
    clear: both;
}
.pic{
    width: 20%;
    border: solid 5px #FFF;
    float: left;
}
.pic img{
    width: 100%;
    display: block;
}





