@charset 'utf-8';


/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

CSS @ Rules
+++++++++++++++++++++++++++++++++++++++++++

    1.  @charset
    2.  @fontface
    3.  @import
    4.  @media
    5.  @keyframes



@keyframes identifier {
  0% { top: 0; left: 0; }
  30% { top: 50px; }
  68%, 72% { left: 50px; }
  100% { top: 100px; left: 100%; }
}


animation-delay
animation-direction
animation-duration
animation-fill-mode
animation-iteration-count
animation-name
animation-play-state
animation-timing-function


animation [shorthand format] - shorthand for animation-name, animation-duration, animation-timing-function, animation-delay, animation-iteration-count, animation-direction, animation-fill-mode, and animation-play-state.



Important links
+++++++++++++++++++++++++++++++++++++++++++

https://daneden.github.io/animate.css/

http://mynameismatthieu.com/WOW/

http://animista.net/

https://css-tricks.com/snippets/css/keyframe-animation-syntax/

https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes

http://cssanimate.com/


https://developer.mozilla.org/en-US/docs/Web/CSS/animation


https://greensock.com/

https://ihatetomatoes.net/

*/



.demo-bar{
  background-color: firebrick;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.demo-bar ul{
  padding-left: 0;
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
}
.demo-bar ul li{
  margin: 0 10px;
}
.demo-bar ul a{
  color: #FFF;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
}
.demo-bar ul a:before,
.demo-bar ul a:after{
  position: absolute;
  right: 0;left: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: -4px;
  height: 2px;
  background-color: firebrick;
  content: "";
  width: 0;
  transition: all 250ms ease-in;
}
.demo-bar ul a:after{
  transition: all 250ms ease-out;
}
.demo-bar ul a:hover:after{
  width: 100%;
  background-color: white;
}
.demo-bar ul a:hover:before{
  width: 100%;
  background-color: green;
}

.animated-arrow{
  text-decoration: none;
  border: solid 2px red;
  padding-right: 15px;
}
.animated-arrow i{
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  
}
.animated-arrow i:after{
  content: "";
  width: 9px;
  height: 9px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  position: absolute;
  right: 0;
  top: 6px;
  transform: rotate(-45deg);
}

.animated-arrow:hover  i{
  -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}





.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-2-25 16:10:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2020-2-25 16:13:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}



