@charset 'utf-8';


/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

CSS @ Rules
+++++++++++++++++++++++++++++++++++++++++++

    1.  @charset
    2.  @fontface
    3.  @import
    4.  @media
    5.  @keyframes



@keyframes identifier {
  0% { top: 0; left: 0; }
  30% { top: 50px; }
  68%, 72% { left: 50px; }
  100% { top: 100px; left: 100%; }
}


animation-delay
animation-direction
animation-duration
animation-fill-mode
animation-iteration-count
animation-name
animation-play-state
animation-timing-function


animation [shorthand format] - shorthand for animation-name, animation-duration, animation-timing-function, animation-delay, animation-iteration-count, animation-direction, animation-fill-mode, and animation-play-state.



Important links
+++++++++++++++++++++++++++++++++++++++++++

https://daneden.github.io/animate.css/

http://mynameismatthieu.com/WOW/

http://animista.net/

https://css-tricks.com/snippets/css/keyframe-animation-syntax/

https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes

http://cssanimate.com/


https://developer.mozilla.org/en-US/docs/Web/CSS/animation


*/

