/* This one is a CSS comment */
/*Use Sublime package for adding comment snippets */

/*=================================
=            Selectors            =
=================================

selector-name{
	css-rule : value;
	css-rule : value;
	css-rule : value;
	..:..;
	..:..;
	..:..;
}

Universal Selectors
	They are applied to all the html elements of that documnet
*{
	css-rule : value;
	....
}


Tag or Type Selectors
p{
	css-rule : value;
	....
}

Class Selectors
.user-defined-name{
	css-rule : value;
	....
} 
======================
a class name
		* can be alpha numeric
		* must not start with a number, 
		* must not have special characters apart from hyphen and underscore 

id Selectors
#user-defined-name{
	css-rule : value;
	....
}

descendant Selectors
psuedo Selectors - there are two types
	
1.	psuedo classes - starts with :
			:link, :hover, :active, :focus, :first-child, :last-child, :nth-child()
2. 	psuedo elements - starts with ::
			::after, ::before, ::first-line, ::first-letter, ::selection

attribute Selectors
[attribute-name]{
	css-rule : value;
	....
}
=====  End of Selectors  ======*/

html{
	font-family: 'Poppins', sans-serif;
	font-weight: 400px;
	font-size: 16px;
	line-height: 1.4;

	/* font: 400 16px/1.4 'Poppins', sans-serif; */
	color: #444;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}


.site-header h1{ font-size: 52px;color: #444;}
.site-header h1 a{ color: #444;text-decoration: none;}
.site-header h1 a small{ font-size: 16px;font-weight: normal;}

.menu{}
.menu li{
	border: solid 2px red;
	display: inline-block;
}
.menu li a{
	color: #444;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	
	transition: all 250ms ease;
	position: relative;	
}
.menu li a:hover,
.menu li.active a{
	color: #FCB415;
}



