@font-face {
  font-family: 'kris-icons';
  src:
    url('fonts/kris-icons.ttf?gjsg63') format('truetype'),
    url('fonts/kris-icons.woff?gjsg63') format('woff'),
    url('fonts/kris-icons.svg?gjsg63#kris-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kris-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anchor:before {
  content: "\e901";
}
.icon-aperture:before {
  content: "\e902";
}
.icon-at-sign:before {
  content: "\e903";
}
.icon-award:before {
  content: "\e904";
}
.icon-metro:before {
  content: "\e900";
}
.icon-compass:before {
  content: "\e905";
}
.icon-dollar-sign:before {
  content: "\e906";
}
.icon-feather:before {
  content: "\e907";
}
.icon-film:before {
  content: "\e908";
}
.icon-github1:before {
  content: "\e909";
}
.icon-globe:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90b";
}
.icon-image:before {
  content: "\e90c";
}
.icon-mail:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e90e";
}
.icon-refresh-cw:before {
  content: "\e90f";
}
.icon-sliders:before {
  content: "\e910";
}
.icon-sunrise:before {
  content: "\e911";
}
.icon-trending-up:before {
  content: "\e912";
}
.icon-tv:before {
  content: "\e913";
}
.icon-user:before {
  content: "\e914";
}
.icon-video:before {
  content: "\e915";
}
.icon-wind:before {
  content: "\e916";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin2:before {
  content: "\eaca";
}
